@import "bootstrap/bootstrap";
@import "reset";
@import "general";
@import "checkboxes";
@import "knobs";
@import "scroll-bars";
@import "variables";
@import "mixins";

body {
  background: url(../images/bg.png);
}

.widget-knob.widget-volume{
  background: url(../images/knob-volume-bg.png) no-repeat;
}
.volume{background-image: url(../images/knob-volume.png);}

.checkbox-large .custom-checkbox label {
    background: url(../images/styled_checkbox_large.png) no-repeat;
    padding-left: 0px;
    width: 62px;
}

.jspCap{
  background-image: url(../images/scrollbar.png);
}
.jspTrack{
  background-image: url(../images/scrollbar.png);
}
.jspDrag{
  background-image: url(../images/scrollbar.png);
}



.scrollbar {
  float: none;
  margin: 0 auto;
  p {
    min-height: 400px;
  }
}

.block-center {
  display: table;
  margin: 0 auto;
}