@import "bootstrap/bootstrap";
@import "reset";
@import "general";
@import "checkboxes";
@import "knobs";
@import "scroll-bars";
@import "typography";
@import "variables";
@import "mixins";

body {
  background: url(../images/bg.png);
}

.widget-knob.widget-volume{
  background: url(../images/knob-volume-bg.png) no-repeat;
}
.volume{background-image: url(../images/knob-volume.png);}

.checkbox-large {
  padding: 15px 0 8px 0;

  .custom-checkbox label {
    background: url(../images/styled_checkbox_large.png) no-repeat;
    padding-left: 0px;
    width: 65px;
    margin: 0;
    height: 31px;
  }
}

.jspCap{
  background-image: url(../images/scrollbar.png);
}
.jspTrack{
  background-image: url(../images/scrollbar.png);
}
.jspDrag{
  background-image: url(../images/scrollbar.png);
}



.scrollbar {
  float: none;
  margin: 0 auto;
  p {
    min-height: 400px;
  }
}

.block-center {
  display: table;
  margin: 0 auto;
}

.orange {
  color: #d68846;
  text-shadow: 0 1px 1px #000;
}

.mixer-lane {
  border-right: 1px solid #080b0e;
  border-left: 1px solid #33393f;
}

.mixer-lane:first-of-type {
  border-left: none;
}

.mixer-lane:last-of-type {
  border-right: none;
}