<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>aircast ui</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body touchstart="">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="container">
      <div class="row" id="mixer-lanes">
        
      </div>  
    </div>

    <script id="mixer-lane" type="text/template">
      <div class="col-xs-2">
        <div class="checkbox-large">
          <input name="<%= id %>-connect" type="checkbox" id="<%= id %>-connect" hidefocus="true" class="gradient" style="outline: none;">
          <label for="<%= id %>-connect"></label>
        </div>
        <div class="scrollbar style2">
          <p></p>
        </div>
      </div>
    </script>
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/PixelKit-Bootstrap-UI-Kits/dark-velvet/dark-velvet-less/js/knobRot-0.2.2.js"></script>
    <script src="/bower_components/PixelKit-Bootstrap-UI-Kits/dark-velvet/dark-velvet-less/js/jquery.customInput.js"></script>
    <script src="/bower_components/PixelKit-Bootstrap-UI-Kits/dark-velvet/dark-velvet-less/js/jquery.jscrollpane.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
